ul {
    list-style: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.gallery-item {
    width: calc((100% - (3 - 1) * 24px) / 3);
}


.gallery-link {
    display: block;
}

.gallery-image {
    width: 100%;
    height: auto;
}

.gallery-image:hover {
    cursor: alias;
}